# OBLinux installed-system GRUB identity.
GRUB_DISTRIBUTOR="OBLinux"
GRUB_THEME="/usr/share/grub/themes/oblinux/theme.txt"
GRUB_BACKGROUND="/usr/share/grub/themes/oblinux/background.png"
GRUB_COLOR_NORMAL="light-gray/black"
GRUB_COLOR_HIGHLIGHT="black/light-gray"
