[Desktop Entry]
Type=Application
Version=1.0
Name=Install OBLinux
GenericName=System Installer
Exec=calamares-install-debian
Comment=Install OBLinux on this computer
Keywords=calamares;system;install;oblinux;installer
Icon=oblinux-logo
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=true
